<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/static/dl.css">
        <script src="/static/jquery.min.js" charset="utf-8"></script>
    </head>
    <body>
        <h1>{{use}}home</h1>
        <a href="/xs">小说</a>
        <a href="/lswj">文件历史库</a>
        <a href="/ws">websocket</a>

        <script type="text/javascript">
            $(".txtb input").on("focus", function(){
                $(this).addClass("focus");
            });	


            $(".txtb input").on("blur", function(){
                if($(this).val() == "")
                $(this).removeClass("focus");
            });
        </script>

    </body>
</html>
