<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/static/dl.css">
        <script src="/static/jquery.min.js" charset="utf-8"></script>
    </head>
    <body>

        <form action="#" class="login-form" method="POST">
            <h1>注册</h1>
            <div class="txtb">
                <input type="text" name="user">
                <span data-placeholder="用户名"></span>
            </div>
            <div class="txtb">
                <input type="password" name="password">
                <span data-placeholder="密码"></span>
            </div>
            
            <input type="submit" class="logbtn" value="注册">
        </form>

        <script type="text/javascript">
            $(".txtb input").on("focus", function(){
                $(this).addClass("focus");
            });	


            $(".txtb input").on("blur", function(){
                if($(this).val() == "")
                $(this).removeClass("focus");
            });
        </script>

    </body>
</html>
